.page__footer {
  width: 100%;
  margin-top: 3em;
  position: fixed !important;
  bottom: 0em;
  color: $accent-color;
  background-color: $lighter-gray;
  border-top: 1px solid $light-gray;

  /* Flexbox layout for sticky footer */
  position: relative; 
  display: flex;
  justify-content: left; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding: 1em 0; /* Adjust padding as needed */
}

footer {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1em;
  
  @include breakpoint($x-large) {
    max-width: $x-large;
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
  text-align: left;
}
